@import url('reset.css');

#sudoku {
    background: url(../images/grid.png) no-repeat 0px -10px;
    width: 725px;
    height: 720px;
    margin: 10px 0 0 10px;
    float: left;
    
}


.celwrapper {
    display: inline-block;
    text-align: center;
    margin: 0px 6px 0 6px;
}


.cel {
    background: #eee;    
    width: 65px;
    height: 65px;
}

.cel input {
	position: relative;
	color: #999;
    width: 50px;
	height: 25px;
	font-size: 24px;
    border-style: none;
	background: none;    
    text-align: center;
    margin: 5px;
    cursor: pointer;
}



.info {
    position: absolute;
    width: 50px;
	margin: 0 8px;
	height: 32px;
}

#sudoku li {
    list-style: none;
	margin: 0 0 11px 0;
	padding: 0;
	height: 70px;
}

input {
    position: relative;
    top: 0px;
}

.cel.locked  input { color: #000; font-weight: bolder; font-style: italic; }

.cel.many { background: rgba(253, 209, 69, 0.5); }
.cel.one { background: rgba(69, 172, 253, 0.5); }
.cel.none { background: rgba(255, 0, 0, 0.2); }

.many input { color: #da2; }
.one  input { color: #090; }
.none { border-color: #900; }

.forbidden, .possibilities {
	color: #999; 
	font-style: italic;
	font-size: 8px;
}

span.forbidden {
    color: #900;
    text-decoration: line-through; 
}

/* Controls */

#controls {
    width: 250px;
    float: left;
    border: 2px solid #666;
    border-radius: 5px;
    padding: 15px 10px;
    background: #eee;
    margin: 10px;
}

#controls a {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 2px 5px;
    margin: 5px 2px;
    border: 2px solid #666;
    border-radius: 4px;
    text-decoration: none;
    background: #ddd;
    color: #666;
}

#controls ul {
    height: 620px;
    overflow-x: hidden;
}

#controls li {
    font-size: 10px;
    margin: 2px 0;
    padding: 0;
}

#controls li.success {
	color: #090;
}

#controls li.error {
    color: #900;
}
    